In [12]:
bios = ["Iqra", 22, "DS", "iqrayanwar@gmail.com", ["Anwar", 50, "Chef", "anwar@gmail.com",["umer", 7, "student", "umer@gmail.com"]], 77]

In [13]:
bios

['Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ['Anwar',
  50,
  'Chef',
  'anwar@gmail.com',
  ['umer', 7, 'student', 'umer@gmail.com']],
 77]

In [14]:
len(bios)

6

In [15]:
bios[4][3]

'anwar@gmail.com'

In [20]:
bios[4][3]

'anwar@gmail.com'

In [21]:
bios[4]

['Anwar',
 50,
 'Chef',
 'anwar@gmail.com',
 ['umer', 7, 'student', 'umer@gmail.com']]

In [25]:
bios[4][:3]

['Anwar', 50, 'Chef']

# String Methods

In [ ]:
# anyrhing in double quates and single quates is string

# we also have multi line strings and for that we need tripple quates (""" """ / ''' ''')

In [26]:
''

''

In [27]:
""

''

In [28]:
""" """

' '

In [31]:
'We have completed 3 sessions!!'

'We have completed 3 sessions!!'

In [32]:
'We have completed 3 
sessions!!'

SyntaxError: unterminated string literal (detected at line 1) (3642310567.py, line 1)

In [33]:
""" we have 
completed
3 sessions
so far """

' we have \ncompleted\n3 sessions\nso far '

In [34]:
''' we have completed
3 sessions 
so far by this week'''
## backslash means new lines and if you want to see it organized way write it in print

' we have completed\n3 sessions \nso far by this week'

In [35]:
print(''' we have completed
3 sessions 
so far by this week''')

 we have completed
3 sessions
so far by this week

##  doc string
function doc string also requires tripple quates bcs we write multi lines to define the code/ function.

## To know string methods

dir(str)

In [39]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 1. strip() to remove spaces using string method

In [41]:
# upper, strip, rsplit, lower, isupper, istitle, isspace, startswith, endswith 
"   hello world               "

'   hello world               '

In [42]:
# we need ti remove spaces

"   hello world               ".strip()

'hello world'

In [43]:
"   hello world               ".rstrip()

'   hello world'

In [44]:
"   hello world               ".lstrip()

'hello world               '

# 2. to separate or split data / string

In [46]:
''' we have completed 3 sessionsso far by this week'''.split()

['we', 'have', 'completed', '3', 'sessionsso', 'far', 'by', 'this', 'week']

In [49]:
a = ''' we:have:completed 3 sessionsso: far by: this week'''.split(":")
a

[' we', 'have', 'completed 3 sessionsso', ' far by', ' this week']

In [51]:
a[2:4]

['completed 3 sessionsso', ' far by']

In [53]:
a[-1]

' this week'

In [54]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 3.

In [55]:
"hi im iqra"

'hi im iqra'

In [56]:

"hi im iqra".upper()

'HI IM IQRA'

In [57]:
"hi im iqra".replace("iqra", "umar")

'hi im umar'

In [58]:
text = "hi im iqra"
text

'hi im iqra'

In [80]:
#slicing
text[2]

' '

In [83]:
#slicing
text[6:] = "alii"

TypeError: 'str' object does not support item assignment

In [ ]:
text.replace(shit + tab )

# TUPLE

In [61]:
tuple_bio = ("Iqra", 22, "DS", "iqrayanwar@gmail.com", ["Anwar", 50, "Chef", "anwar@gmail.com",["umer", 7, "student", "umer@gmail.com"]], 77)

In [62]:
tuple_bio

('Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ['Anwar',
  50,
  'Chef',
  'anwar@gmail.com',
  ['umer', 7, 'student', 'umer@gmail.com']],
 77)

In [63]:
tuple_nested = ("Iqra", 22, "DS", "iqrayanwar@gmail.com", ("Anwar", 50, "Chef", "anwar@gmail.com",("umer", 7, "student", "umer@gmail.com")), 77)

In [64]:
tuple_nested

('Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ('Anwar',
  50,
  'Chef',
  'anwar@gmail.com',
  ('umer', 7, 'student', 'umer@gmail.com')),
 77)

In [66]:
tuple_nested

('Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ('Anwar',
  50,
  'Chef',
  'anwar@gmail.com',
  ('umer', 7, 'student', 'umer@gmail.com')),
 77)

In [67]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [71]:
tuple_nested[1:4]

(22, 'DS', 'iqrayanwar@gmail.com')

In [75]:
tuple_nested[2]

'DS'

In [84]:
tuple_nested[2] = "DA"

TypeError: 'tuple' object does not support item assignment

In [85]:
tuple_nested

('Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ('Anwar',
  50,
  'Chef',
  'anwar@gmail.com',
  ('umer', 7, 'student', 'umer@gmail.com')),
 77)

In [86]:
type(tuple_nested)

tuple

In [87]:
tuple_bio

('Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ['Anwar',
  50,
  'Chef',
  'anwar@gmail.com',
  ['umer', 7, 'student', 'umer@gmail.com']],
 77)

In [91]:
tuple_bio[4][3] = "anwarali@gmail.com"

In [92]:
tuple_bio

('Iqra',
 22,
 'DS',
 'iqrayanwar@gmail.com',
 ['Anwar',
  50,
  'Chef',
  'anwarali@gmail.com',
  ['umer', 7, 'student', 'umer@gmail.com']],
 77)

In [93]:
num1 = (1,4)
num2 = (5,7)

In [95]:
num1 * 3

(1, 4, 1, 4, 1, 4)

In [96]:
num1 + num2

(1, 4, 5, 7)

In [98]:
num2 - num1

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

# unpacking

In [109]:
# unpacking can be in list and tuple both

bios = ["iqra", 22, "iqraanwar@gmail.com",["umer", 6, "stu", "umar@gmail.com"]]

In [114]:
name, age, email, *others_info = bios

In [111]:
name, age, email, *others_info = bios

In [112]:
name

'iqra'

In [115]:
others_info

[['umer', 6, 'stu', 'umar@gmail.com']]